Source: std-msgs
Section: libdevel
Priority: optional
Maintainer: Jochen Sprickerhof <debian@jochen.sprickerhof.de>
Build-Depends: debhelper (>= 9), cmake, message-generation
Standards-Version: 3.9.6
Homepage: http://wiki.ros.org/std_msgs
#Vcs-Git: git://anonscm.debian.org/collab-maint/std-msgs.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/std-msgs.git;a=summary

Package: libstd-msgs-dev
Architecture: all
Depends: ${misc:Depends}, message-runtime
Description: Header for Standard ROS Messages
 std_msgs contains wrappers for ROS primitive types, which are documented in
 the msg specification. It also contains the Empty type, which is useful for
 sending an empty signal.
 .
 This package contains the generated C++ headers.

Package: python-std-msgs
Section: python
Architecture: all
Depends: ${misc:Depends}
Description: Header for Standard ROS Messages
 std_msgs contains wrappers for ROS primitive types, which are documented in
 the msg specification. It also contains the Empty type, which is useful for
 sending an empty signal.
 .
 This package contains the generated Python package.

Package: cl-std-msgs
Section: lisp
Architecture: all
Depends: ${misc:Depends}
Description: Header for Standard ROS Messages
 std_msgs contains wrappers for ROS primitive types, which are documented in
 the msg specification. It also contains the Empty type, which is useful for
 sending an empty signal.
 .
 This package contains the generated LISP library.
